<link rel='stylesheet' href="/stylesheets/frontEnd.css">
<link rel='stylesheet' href="/stylesheets/estilos.css">
<script src="/javascripts/jquery-3.3.1.min.js"></script>

<body>

<header class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <img src="/images/png/005-xing.png" alt="" width="40px" class="mr-2">
                    <a href="/index" class="navbar-brand mr-auto wepo">We Programers</a>
                        <div action="" class="form-inline my-2 my-lg-0">
                            <button id="btn-abrir-popup" class="btn btn-outline-secondary color my-0 my-sm-0 mr-3 te">Login</button>
                            <a href="/registro" class="btn btn-outline-secondary color my-2 my-sm-0 te">Register</a>
                        </div>
                </div>
            </nav>
    </header>



<div class="container-fluid fron">
    <div class="row">
        <div class="col-6 mgr">
            <h3 class="mt-4 quef">¿ Que tarea realiza un <strong>Fot-End</strong> ?</h3>
            <p>Un desarrollador Frontend  se encarga de programar el código para hacer que la interfaz de la pagina/App sea atractiva,
                 intuitiva y que la experiencia de usuario sea la mas agradable para tus clientes.</p>
        </div>

       <div class="col-6 habi">
            <div class="row justify-content-center one"><p>¿Que habilidades debe tener?</p></div>
            <div class="row mtq justify-content-start"><img src="/images/png/002-checked.png" class="check" alt=""><p>Exelente persepcion del diseño.</p></div>
            <div class="row justify-content-start mtq"><img src="/images/png/002-checked.png" class="check" alt=""><p>Extremadamente enfatico en los detalles.</p></div>
            <div class="row justify-content-start mtq"><img src="/images/png/002-checked.png" class="check" alt=""><p>Manejo de herramientas de diseño.</p></div>
            <div class="row justify-content-start mtq"><img src="/images/png/002-checked.png" class="check" alt=""><p>Capacidad de innovacion constante.</p></div>
        </div>
    </div>
</div> 

<div class="container mt-5 mbperfiles">
    <div class="row">
    <div class="col-12">
        <h4 class="d-flex justify-content-center margcon">Conoce nuestros especialsitas</h4>
    </div>
    <onocer    <div class="row">
        <div class="col-6 d-flex perfiles " >
            <div class="imgperfil"></div>
            <p class="textperfil">Gonzalo Damian Horton <br> 21 años <br> Experiencia: </p> 
            <button id="" class="btn btn-outline-dark btnconocer" data-toggle="modal" data-target="#exampleModalCenter"> Conocer</button>
        </div>
        <div class="col-6 d-flex perfiles " >
            <div class="imgperfil"></div>
            <p class="textperfil">Gonzalo Damian Horton <br> 21 años <br> Experiencia: </p> 
            <button id="" class="btn btn-outline-dark btnconocer" data-toggle="modal" data-target="#exampleModalCenter"> Conocer</button>
        </div>
     
        <div class="col-6 d-flex perfiles " >
            <div class="imgperfil"></div>
            <p class="textperfil">Gonzalo Damian Horton <br> 21 años <br> Experiencia: </p> 
            <button id="btn-Conocer" class="btn btn-outline-dark btnconocer" data-toggle="modal" data-target="#exampleModalCenter"> Conocer</button>
        </div>
     
        <div class="col-6 d-flex perfiles " >
            <div class="imgperfil"></div>
            <p class="textperfil">Gonzalo Damian Horton <br> 21 años <br> Experiencia: </p> 
            <button id="btn-Conocer" class="btn btn-outline-dark btnconocer" data-toggle="modal" data-target="#exampleModalCenter"> Conocer</button>
        </div>
     
        <div class="col-6 d-flex perfiles " >
            <div class="imgperfil"></div>
            <p class="textperfil">Gonzalo Damian Horton <br> 21 años <br> Experiencia: </p> 
            <button id="btn-Conocer" class="btn btn-outline-dark btnconocer" data-toggle="modal" data-target="#exampleModalCenter"> Conocer</button>
        </div>

         <div class="col-6 d-flex perfiles " >
            <div class="imgperfil"></div>
            <p class="textperfil">Gonzalo Damian Horton <br> 21 años <br> Experiencia: </p> 
            <button id="btn-Conocer" class="btn btn-outline-dark btnconocer" data-toggle="modal" data-target="#exampleModalCenter"> Conocer</button>
        </div>

         <div class="col-6 d-flex perfiles " >
            <div class="imgperfil"></div>
            <p class="textperfil">Gonzalo Damian Horton <br> 21 años <br> Experiencia: </p> 
            <button id="btn-Conocer" class="btn btn-outline-dark btnconocer" data-toggle="modal" data-target="#exampleModalCenter"> Conocer</button>
        </div>

         <div class="col-6 d-flex perfiles " >
            <div class="imgperfil"></div>
            <p class="textperfil">Gonzalo Damian Horton <br> 21 años <br> Experiencia: </p> 
            <button id="btn-Conocer" class="btn btn-outline-dark btnconocer" data-toggle="modal" data-target="#exampleModalCenter"> Conocer</button>
        </div>   
    </div>
</div>

    
<div class="overlay" id="overlay">
        <div class="" id="popup">
            <form action="" class="">
                <div class="container col-5 marginlog popup">
                     <a id="btn-cerrar-popup" class="btn-cerrar-pop cursor"><i class="fa fa-times cerrar"></i></a>
                        <div class="row justify-content-center d-flex">
                                    <div class="col-12 d-flex flex-column ">
                                        <div class="form-group">
                                            <label for="correo" class="textlogin d-flex justify-content-center">Correo</label>
                                            <input type="correo" class="form-control d-flex justify-content-center" placeholder="nombre@hotmail.com" id="correo" name="correo">
                                        </div>
                                    </div>

                                    <div class="col-12 d-flex flex-column">
                                        <div class="form-group">
                                            <label for="password" class="textlogin d-flex justify-content-center">Contraseña</label>
                                            <input type="password" class="form-control d-flex justify-content-center" placeholder="Contraseña" id="password" name="password">
                                        </div>
                                    </div>

                                    <div class="col-12"><a href="#" class="d-flex justify-content-center  mb-3 olv">Olvide mi contraseña</a></div>
                        </div>
                        <div class="col-12 justify-content-center d-flex"><input type="submit" value="Logear" class="d-flex btn btn-outline-light justify-content-center"></div>
                </div>
            </form>
            
        </div>
</div>


<!-- Modal -->

 <div class="modal fade bd-example-modal-xl" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">

      <div class="mt-4">
        <h4 class="d-flex justify-content-center mb-4" id="exampleModalCenterTitle">Gonzalo Damian Horton</h4>
   
      </div>
      <div class="modal-body headermodal">
          <div class="col-12"><p class="text-center desmodel">Descripción</p></div>
          <div class="col-12"><p class="destext text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Eligendi iusto, doloribus alias molestiae enim dolor earum repudiandae
                repellat laboriosam. Nulla.</p>
                </div>
      </div>
      <div class="row">
      <div class="modal-body col-6 headercolor">
          <h5 class="habimodel text-center">Habilidades destacadas:</h5>
      </div>
      <div class="modal-body col-6">
          <h5 class="habimodel text-center">Proyectos donde trabajó:</h5>
      </div>
      </div>

      <div class="modal-footer  d-flex justify-content-center headermessa">
        <form class="col-6">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Deja tu correo:</label>
            <input type="correo" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Mensaje:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
        </div>

      <div class="modal-footer col-12">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#mensajeModal" data-whatever="@mdo">Contactar</button>
      </div>



    </div>
  </div>
</div> 

</body> 