
<body class="land">
    <header class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <img src="/images/png/cloud-coding.png" alt="" width="40px" class="mr-2">
                <a href="#" class="navbar-brand mr-auto">We Programers</a>
                    <form action="" class="form-inline my-2 my-lg-0">
                        <a href="/login" class="btn btn-outline-primary color my-0 my-sm-0 mr-3 ">Login</a>
                        <a href="/registro" class="btn btn-outline-primary color my-2 my-sm-0 ">Register</a>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    
    <!-- Info -->
    <main class="">
        <section class="container-fluid marginp">
            <div class="row asd align-items-center">
                <div class="col-3"></div>
                <div class="col-6 d-flex flex-column">
                    <h3 class="d-flex  justify-content-center quien">¿Quienes Somos?</h3>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row des d-flex">
                <div class="col-3"></div>
                <p class="col-6 d-flex text-center textp">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Alias facere exercitationem sunt doloremque minima? Eaque,
                    quam deserunt? Molestias mollitia magni officiis animi impedit
                    est dignissimos? Animi praesentium vel neque tenetur.</p>
                <div class="col-3"></div>
            </div>


            <div class="row d-flex d-flex align-items-center colorh">
                <div class="col-6 justify-content-center d-flex"><img class="imgh" src="images/png/001-programmer.png" alt=""></div>
                <div class="col-4"><strong>Lorem</strong> ipsum dolor sit amet consectetur adipisicing elit.
                    Similique saepe, beatae possimus, rerum reiciendis exercitationem quos,
                    ea quas sapiente dolorum nisi. Aperiam expedita id accusamus adipisci,
                    cupiditate cumque dolor cum.</div>
                    <div class="col-2"></div>
            </div>
            <div class="row d-flex d-flex align-items-center colorh">
                <div class="col-2"></div>
                <div class="col-4 text-right"><strong>Lorem</strong> ipsum dolor sit amet consectetur adipisicing elit.
                    Similique saepe, beatae possimus, rerum reiciendis exercitationem quos,
                    ea quas sapiente dolorum nisi. Aperiam expedita id accusamus adipisci,
                    cupiditate cumque dolor cum.</div>
                <div class="col-6 justify-content-center d-flex"><img class="imgh" src="images/png/003-responsive-design.png" alt=""></div>
            </div>
            <div class="row d-flex d-flex align-items-center colorh">
                <div class="col-6 justify-content-center d-flex textf"><img class="imgh" src="images/png/002-block.png" alt=""></div>
                <div class="col-4"><strong>Lorem</strong> ipsum dolor sit amet consectetur adipisicing elit.
                    Similique saepe, beatae possimus, rerum reiciendis exercitationem quos,
                    ea quas sapiente dolorum nisi. Aperiam expedita id accusamus adipisci,
                    cupiditate cumque dolor cum.</div>
                <div class="col-2"></div>
            </div>

        </section>

    <!-- vinculos -->
        <section class="container-fluid">
            <div class="row">
                <div class="col"><h3 class="d-flex  justify-content-center titu2">Dinos lo que buscas</h3></div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-4 d-flex justify-content-center carjob">
                    <div class="flex-column" style="width: 20rem;">
                        <div class="justify-content-center d-flex"><img src="/images/png/website.png" class="card-img-top" style="width: 200px;" alt=""></div>
                        <h5 class="card-title text-center mt-2">Front-end</h5>
                        <div class="card-body justify-content-center d-flex flex-column">
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Buscar</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center carjob">
                    <div class="flex-column " style="width: 20rem;">
                        <div class="justify-content-center d-flex"><img src="images/png/block.png" class="card-img-top" style="width: 200px;" alt="#"></div>
                        <h5 class="card-title text-center mt-2">Diseñadores</h5>
                        <div class="card-body justify-content-center d-flex flex-column">
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary ">Buscar</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center carjob">
                    <div class="flex-column" style="width: 20rem;">
                        <div class="justify-content-center d-flex"><img src="images/png/server.png" class="card-img-top" style="width: 200px;" alt="#"></div>
                        <h5 class="card-title text-center mt-2">Back-end</h5>
                        <div class="card-body justify-content-center d-flex flex-column">
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Buscar</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>

    <!-- Marcas -->
        <section class="container-fluid d-flex flex-column marcasback">
            <div class="row  d-flex marcasback">
                <div class="col-3 d-flex justify-content-center"><img class="marcas" src="/images/Marcas/adidas.png" alt=""></div>
                <div class="col-3 d-flex justify-content-center"><img class="marcas altu" src="/images/Marcas/bbva.png" alt=""></div>
                <div class="col-3 d-flex justify-content-center"><img class="marcas" src="/images/Marcas/converse.png" alt=""></div>
                <div class="col-3 d-flex justify-content-center"><img class="marcas altu" src="/images/Marcas/jeep-logo.png" alt=""></div>
            </div>
            <div class="row marcasback">
                <div class="col-3 d-flex justify-content-center"><img class="marcas" src="/images/Marcas/levis.png" alt=""></div>
                <div class="col-3 d-flex justify-content-center"><img class="marcas" src="/images/Marcas/kia.png" alt=""></div>
                <div class="col-3 d-flex justify-content-center"><img class="marcas altu" src="/images/Marcas/lg.png" alt=""></div>
                <div class="col-3 d-flex justify-content-center"><img class="marcas" src="/images/Marcas/chanel.png" alt=""></div>
            </div>

            <h3 class="text-center mt-3 marcasback marcastext">Algunas de las marcas que trabajan con nosotros</h3>
        </section>
    </main>

    <footer>
        <section class="redes-sociales ">
			<div class="contenedor">
				<a href="https://twitter.com/gonzahorton" class="twitter"><i class="fa fa-twitter"></i></a>
				<a href="https://www.facebook.com/gonzalo.horton.7" class="facebook"><i class="fa fa-facebook" ></i></a>
				<a href="https://www.instagram.com/gonza.hor/?hl=es-la" class="instagram"><i class="fa fa-instagram"></i></a>
				<a href="https://ar.linkedin.com/" class="linkedin"><i class="fa fa-linkedin-square"></i></a>
			</div>
		</section>
    </footer>
    


