    <link rel='stylesheet' href="/stylesheets/estilos.css">

<body class="land">
    <header class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <img src="/images/png/005-xing.png" alt="" width="40px" class="mr-2">
                    <a href="#" class="navbar-brand mr-auto wepo">We Programers</a>
                        <div action="" class="form-inline my-2 my-lg-0">
                            <button id="btn-abrir-popup" class="btn btn-outline-secondary color my-0 my-sm-0 mr-3 te">Login</button>
                            <a href="/registro" class="btn btn-outline-secondary color my-2 my-sm-0 te">Register</a>
                        </div>
                </div>
            </nav>
    </header>


    <main class="">
        <section class="container-fluid marginp">
            <div class="row asd align-items-center">
                <div class="col-3"></div>
                <div class="col-6 d-flex flex-column">
                    <h3 class="d-flex  justify-content-center quien">¿Quienes Somos?</h3>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row des d-flex">
                <div class="col-3"></div>
                <p class="col-6 d-flex text-center textp">Somos la solución que nesecita
                    tu negocio para crecer a niveles que nunca imaginaste. Los mejores y más capacitados especialistas en 
                    desarrolló y diseño web, todos ellos en un mismo lugar.</p>
                <div class="col-3"></div>
            </div>


            <div class="row d-flex d-flex align-items-center colorh">
                <div class="col-6 justify-content-center d-flex"><img class="imgh" src="images/png/001-programmer.png" alt=""></div>
                <div class="col-4"><strong>Lorem</strong> ipsum dolor sit amet consectetur adipisicing elit.
                    Similique saepe, beatae possimus, rerum reiciendis exercitationem quos,
                    ea quas sapiente dolorum nisi. Aperiam expedita id accusamus adipisci,
                    cupiditate cumque dolor cum.</div>
                    <div class="col-2"></div>
            </div>
            <div class="row d-flex d-flex align-items-center colorh">
                <div class="col-2"></div>
                <div class="col-4 text-right"><strong>Lorem</strong> ipsum dolor sit amet consectetur adipisicing elit.
                    Similique saepe, beatae possimus, rerum reiciendis exercitationem quos,
                    ea quas sapiente dolorum nisi. Aperiam expedita id accusamus adipisci,
                    cupiditate cumque dolor cum.</div>
                <div class="col-6 justify-content-center d-flex"><img class="imgh" src="images/png/003-responsive-design.png" alt=""></div>
            </div>
            <div class="row d-flex d-flex align-items-center colorh">
                <div class="col-6 justify-content-center d-flex textf"><img class="imgh" src="images/png/002-block.png" alt=""></div>
                <div class="col-4"><strong>Lorem</strong> ipsum dolor sit amet consectetur adipisicing elit.
                    Similique saepe, beatae possimus, rerum reiciendis exercitationem quos,
                    ea quas sapiente dolorum nisi. Aperiam expedita id accusamus adipisci,
                    cupiditate cumque dolor cum.</div>
                <div class="col-2"></div>
            </div>

        </section>



    <!-- vinculos -->
        <section class="container-fluid">
            <div class="row">
                <div class="col"><h3 class="d-flex  justify-content-center titu2">Dinos lo que buscas</h3></div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-4 d-flex justify-content-center carjob">
                    <div class="flex-column" style="width: 20rem;">
                        <div class="justify-content-center d-flex"><img src="/images/png/website.png" class="card-img-top" style="width: 200px;" alt=""></div>
                        <h5 class="card-title text-center mt-2">Front-end</h5>
                        <div class="card-body justify-content-center d-flex flex-column">
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/frontEnd" class="btn btn-outline-dark">Buscar</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center carjob">
                    <div class="flex-column " style="width: 20rem;">
                        <div class="justify-content-center d-flex"><img src="images/png/block.png" class="card-img-top" style="width: 200px;" alt="#"></div>
                        <h5 class="card-title text-center mt-2">Diseñadores</h5>
                        <div class="card-body justify-content-center d-flex flex-column">
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/disenadores" class="btn btn-outline-dark ">Buscar</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center carjob">
                    <div class="flex-column" style="width: 20rem;">
                        <div class="justify-content-center d-flex"><img src="images/png/server.png" class="card-img-top" style="width: 200px;" alt="#"></div>
                        <h5 class="card-title text-center mt-2">Back-end</h5>
                        <div class="card-body justify-content-center d-flex flex-column">
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/backEnd" class="btn btn-outline-dark">Buscar</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>

    <!-- Marcas -->
        <section class="container-fluid d-flex flex-column marcasback">
            <div class="row  d-flex marcasback">
                <div class="col-3 d-flex justify-content-center"><img class="marcas" src="/images/Marcas/adidas.png" alt=""></div>
                <div class="col-3 d-flex justify-content-center"><img class="marcas altu" src="/images/Marcas/jeep-logo.png" alt=""></div>
                <div class="col-3 d-flex justify-content-center"><img class="marcas" src="/images/Marcas/converse.png" alt=""></div>
                <div class="col-3 d-flex justify-content-center"><img class="marcas" src="/images/Marcas/chanel.png" alt=""></div>
            </div>
            <h3 class="text-center mt-3 marcasback marcastext">Algunas marcas que trabajan con nosotros</h3>
        </section>
    </main>

  

    <div class="overlay" id="overlay">
        <div class="" id="popup">
            <form action="" class="">
                <div class="container col-5 marginlog popup">
                     <a id="btn-cerrar-popup" class="btn-cerrar-pop cursor"><i class="fa fa-times cerrar"></i></a>
                        <div class="row justify-content-center d-flex">
                                    <div class="col-12 d-flex flex-column ">
                                        <div class="form-group">
                                            <label for="correo" class="textlogin d-flex justify-content-center">Correo</label>
                                            <input type="correo" class="form-control d-flex justify-content-center" placeholder="nombre@hotmail.com" id="correo" name="correo">
                                        </div>
                                    </div>

                                    <div class="col-12 d-flex flex-column">
                                        <div class="form-group">
                                            <label for="password" class="textlogin d-flex justify-content-center">Contraseña</label>
                                            <input type="password" class="form-control d-flex justify-content-center" placeholder="Contraseña" id="password" name="password">
                                        </div>
                                    </div>

                                    <div class="col-12"><a href="#" class="d-flex justify-content-center  mb-3 olv">Olvide mi contraseña</a></div>
                        </div>

                        <div class="col-12 justify-content-center d-flex"><input type="submit" value="Logear" class="d-flex btn btn-outline-light justify-content-center"></div>
                </div>
            </form>
            
        </div>
    </div>

</body>


