<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="/stylesheets/estilos.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
  	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"> 
    <link rel="stylesheet" href="/stylesheets/login.css"> 
  </head>
  <body class="">
    {{{body}}}
    <script src="/javascripts/botones.js"></script>
    <script src="/javascripts/popupConocer.js"></script>
    <script src="/javascripts/popup.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
 
   <footer class="colorfooter">
        <section class="redes-sociales row">
            
            <div class="col-2 d-flex justify-content-end">
                <h4 class="titulocontacto text-end">Contactanos:</h4>

            </div>
            <div class="col-4 textscon">
                <p class="textcontactanos">Telefeno: 112233445</p>
                <p class="textcontactanos">Whatsapp: 124235567</p>
                <p class="textcontactanos">Correo: weprogramer@outlook.com</p>
            </div>

			<div class="contenedor col-6 justify-content-center">
				<a href="https://twitter.com/gonzahorton" class="twitter"><i class="fa fa-twitter"></i></a>
				<a href="https://www.facebook.com/gonzalo.horton.7" class="facebook"><i class="fa fa-facebook" ></i></a>
				<a href="https://www.instagram.com/gonza.hor/?hl=es-la" class="instagram"><i class="fa fa-instagram"></i></a>
				<a href="https://ar.linkedin.com/" class="linkedin"><i class="fa fa-linkedin-square"></i></a>
			</div>
		</section>
    </footer>

  </body>
</html>
