<link rel='stylesheet' href="/stylesheets/registro.css">

<body>
    <a href="/index" class="d-flex flex-column justify-content-center volverinicio">
    
    <div class="d-flex justify-content-center"><img src="/images/png/005-xing.png" alt="" width="40px" class=""></div> 
    <p class=" d-flex justify-content-center volvertext">Inicio</p>
    </a>

   <div class="container col-6 margin">
        <form action="/registro" method="post" class="row" id="form1" name="form1">
                <div class="form-group col-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" autofocus placeholder="nombre" id="nombre" name="nombre">
                </div>
                <div class="form-group col-6">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" placeholder="apellido" id="apellido" name="apellido">
                </div> 
                <div class="form-group col-12">
                    <label for="correo">Correo</label>
                    <input type="correo" class="form-control" placeholder="nombre@hotmail.com" id="correo" name="mail">
                </div>
                <div class="form-group col-12">
                    <label for="telefono">Telefono</label>
                    <input type="text" class="form-control" placeholder="Telefono" name="telefono" id="telefono">
                </div>
                <div class="form-group col-6">
                    <label for="password">Contrase単a</label>
                    <input type="password" class="form-control" placeholder="Contrase単a" id="pw1">
                </div>
                <div class="form-group col-6">
                    <label for="password2">Repetir Contrase単a</label>
                    <input type="password" class="form-control " placeholder="Contrase単a" id="pw2" onkeyup="comparar()" name="password">
                </div>
                <div class="col-12 d-flex justify-content-center"><spam id="pwds"></spam></div>
                <div class="form-group col-12">
                    <label for="fecha">Fecha de nacimiento</label>
                    <input type="date" class="form-control " id="pw2 fecha" onkeyup="comparar()" name="fecha">
                </div>
                <div class="col-12 d-flex justify-content-center"><samp id="pwds "></samp></div> 
                <div class="form-check mb-4 col-12 d-flex justify-content-center">
                    <label class="form-check-label d-flex ">
                    <input type="checkbox" name="terminos" id="terminos" class="form-chek-input mr-2" value="on">Acepto Terminos y Condiciones.
                    </label>
                </div>
            <button type="submit" class=" btn btn-outline-light btn-block" id="btnsend" onmouseover="registro()" name="btnsend">Registrarse</button>
        
        </form>
        </div>
                <div class="col-12 d-flex justify-content-center mt-1 merror"><samp class="errordatos errord merror" id="errordatos"></samp></div> 
    </div> 

<script src="/javascripts/botones.js"></script>
</body>       