body{
    font-family: Ubuntu;
    font-weight: 500;
}
.margin{
    margin-top:5px;
    background: darkslategray;
    border-radius: 30px;
    padding: 40px;
    border: #ccc solid 1px ;
}
.marginlog{
    margin-top:50px;
    background: darkslategray;
    border-radius: 30px;
    padding: 40px;
    border: #ccc solid 1px ;
}